.emp-profile {
  margin-top: 2rem;
  margin-bottom: 2rem;
  height: auto;
}

.about-form {
  width: 100%;
}
.nav-link.active {
  width: 100%;
  border-bottom: 5px solid #5bc0eb;
}
.profile-edit-button {
  width: 100%;
  border: 1px solid #eee;
  padding: 5px;
  border-radius: 5px;
  background-color: #dae7ff;
  color: #ef6eae;
}
.profile-edit-button:hover {
  background-color: #ef6eae;
  transition: all 0.5ms;
  cursor: pointer;
  color: #fff;
}
.about-img {
  vertical-align: middle;
  width: 70%;
  height: auto;
}
a {
  text-decoration: none;
  color: #5eb1f5;
  font-weight: 500;
}
@media (max-width: 798px) {
  .about-img {
    width: 100%;
  }
}
