.contact_form {
  margin-bottom: 50px;
}

.contact_info_item {
  padding: 5px 12px;
  box-shadow: 2px 2px 28px -3px #ef6eae;
  border-radius: 11px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.contact_info_item img {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}
.contact-div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 12px;
}
.contact_form .container_contact {
  height: auto;
}
.sub_contact_form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px 20px;
}
.sub_contact_form input {
  border: 1px solid #eee;
  padding: 6px 10px;
  border-radius: 6px;
}

textarea:focus,
input:focus {
  outline: none;
}
.text_field {
  width: 100%;
  height: 150px;
  border: 1px solid #eee;
  border-radius: 6px;
}

/*============= media query ===============*/

@media (max-width: 798px) {
  .contact-div,
  .sub_contact_form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 20px;
  }
}
@media (max-width: 523px) {
  .contact-div,
  .sub_contact_form {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 998px) {
  .contact-div {
    gap: 20px 20px;
  }
}
