img,
svg {
  vertical-align: middle;
  height: 250px;
  width: 250px;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 75vh;
}
.signup-form {
  width: 45%;
}
.signup-image {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  align-content: center;
}
.form-group {
  margin: 12px 0;

  border: solid 1px #eee;
  border-radius: 6px;
  padding: 5px;
}
.register-form {
  width: 100%;
}

.effect {
  border: 1px solid #eee;
  padding: 6px 10px;
  transition: 0.4s;
  border-radius: 6px;
  width: 87%;
}
label {
  padding: 0 10px;
  width: 11%;
}
