img,
svg {
  vertical-align: middle;
  height: 250px;
  width: 250px;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 75vh;
  box-shadow: 2px 2px 28px -3px #ef6eae;
  border-radius: 11px;
}
.signup-form {
  display: flex;
  width: 45%;
  flex-direction: column;
  justify-content: space-between;
}
.form-title {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.signup-image {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  align-content: center;
}
.form-group {
  margin: 7px 0;
  border: solid 1px #eee;
  border-radius: 6px;
  padding: 5px;
}
.register-form {
  width: 100%;
}

.effect {
  border: 1px solid #eee;
  padding: 6px 10px;
  transition: 0.4s;
  border-radius: 6px;
  width: 87%;
}
label {
  padding: 0 10px;
  width: 11%;
}
.signup-mobile-link,
.signup-image-link {
  text-decoration: none;
  color: #f03d5f;
  font-weight: 600;
}

/* button styling */
.form-button {
  margin: 20px 0;
}

.form-button input {
  background: none;
  color: var(--color);
  transition: 0.25s;
  width: 100%;
  font-weight: 700;
  letter-spacing: 7px;
  height: 7vh;
  border: 1px solid var(--color);
  text-transform: uppercase;
}
.form-button input:hover,
.form-button input:focus {
  border-color: var(--hover);
  color: var(--hover);
}
.form-button input {
  --color: #ef6eae;
  --hover: #ef8f6e;
}

.form-button input:hover,
.form-button input:focus {
  -webkit-animation: form-button 1s;
  animation: form-button 1s;
  box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
}
textarea:focus,
input:focus {
  outline: none;
}

@-webkit-keyframes form-button {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}

@keyframes form-button {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}
@media (max-width: 571px) {
  .signup-image {
    display: none;
  }
  .signup-form {
    width: 90%;
  }
}
@media (min-width: 571px) {
  .signup-mobile-link {
    display: none;
  }
}
